.header {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.linksContainer {
  display: flex;
  justify-content: center;
}

.todosContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
  align-items: center;
}